<footer class="bg-main-light py-5">
    <div class="container">
      <h2 class="m-0 h4"> {{"footer.Get The FreshCart App"|translate}} </h2>
      <p class="text-muted small">
        {{"footer.We Will Send You a Link, Open it on Your Phone to download the app"|translate}}
      </p>
  
      <!-- inputs design  -->
      <div class="d-flex align-items-center gap-3 text-nowrap">
        <input type="text" class="form-control" placeholder="Email" />
        <button class="btn-main"> {{"footer.Share App Link"|translate}} </button>
      </div>
  
      <hr />
  
      <!-- footer payment Details Design  -->
      <div class="pay-details d-md-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2">
          <h3 class="h6 m-0"> {{"footer.Payment partners"|translate}} </h3>
          <img src="./assets/images/amazon-pay.png" width="30px" alt="" />
          <img
            src="./assets/images/American-Express-Color.png"
            width="30px"
            alt=""
          />
          <img src="./assets/images/paypal.png" width="30px" alt="" />
          <img src="./assets/images/mastercard.webp" width="30px" alt="" />
        </div>
  
        <div class="d-md-flex align-items-center gap-2">
          <h3 class="h6 m-0"> {{"footer.Get Deliveries with FreshCart"|translate}} </h3>
          <img src="./assets/images/get-google-play.png" width="75px" alt="" />
          <img src="./assets/images/get-apple-store.png" width="75px" alt="" />
        </div>
      </div>
    </div>
  </footer>
  
