<section >
    <h1 class="text-main">Forgot Passowrd</h1>
                                                <!--  1 -->
  @if (step() == 1) {
  
      <form class="text-capitalize bg-main-light shadow p-2 my-5 rounded-4 w-50 mx-auto" [formGroup]="forgetPassword"(ngSubmit)="setVerifyEamil()">
    
        <div class="form-floating mb-3">
          <input
          [ngClass]="{
            'is-valid':!forgetPassword.get('email')?.errors && (forgetPassword.get('email')?.touched || forgetPassword.get('email')?.dirty),
            'is-invalid':forgetPassword.get('email')?.errors && (forgetPassword.get('email')?.touched || forgetPassword.get('email')?.dirty)
                     }"   
          formControlName="email"  type="email" class="form-control shadow-none border-0 " id="email" placeholder="name@example.com">
          <label for="email">email</label>
    
          @if (forgetPassword.get('email')?.errors && (forgetPassword.get('email')?.touched || forgetPassword.get('email')?.dirty)) 
          {
            <div class="text-danger mt-1 w-50 p-0">
    
              @if (forgetPassword.get('email')?.getError('required')) {<p class="m-0">email is required</p>}
    
              @if (forgetPassword.get('email')?.getError('email')) {<p class="m-0">enter valid email</p>}
              
            </div>
          }
    
        </div>
        <button [disabled]="!forgetPassword.valid" class="btn-main ms-auto d-block">Verify Email 
          @if (isLoding()) {<span class="fas fa-spin fa-spinner"></span>}
     </button>
     @if (msgErrorForgot) {<p class="text-danger p-1 m-0"> {{msgErrorForgot}} </p>}
    
    
      </form>
    }@else if (step() == 2) {
  
    <form class="text-capitalize bg-main-light shadow p-2 my-5 rounded-4 w-50 mx-auto" [formGroup]="verifyResetCode"(ngSubmit)="setVerifyCode()">
  
      <div class="form-floating mb-3">
        <input
        [ngClass]="{
          'is-valid':!verifyResetCode.get('resetCode')?.errors && (verifyResetCode.get('resetCode')?.touched || verifyResetCode.get('resetCode')?.dirty),
          'is-invalid':verifyResetCode.get('resetCode')?.errors && (verifyResetCode.get('resetCode')?.touched || verifyResetCode.get('resetCode')?.dirty)
                   }"   
        formControlName="resetCode"  type="text" class="form-control shadow-none border-0 " id="resetCode" placeholder="name@example.com">
        <label for="resetCode">resetCode</label>
  
        @if (verifyResetCode.get('resetCode')?.errors && (verifyResetCode.get('resetCode')?.touched || verifyResetCode.get('resetCode')?.dirty)) 
        {
          <div class="text-danger mt-1 w-50 p-0">
  
            @if (verifyResetCode.get('resetCode')?.getError('required')) {<p class="m-0">resetCode is required</p>}
  
            @if (verifyResetCode.get('resetCode')?.getError('pattern')) {<p class="m-0">enter valid resetCode is 6 numbers</p>}
            
          </div>
        }
  
      </div>
      <button [disabled]="!verifyResetCode.valid" class="btn-main ms-auto d-block">Verify Code 
        @if (isLoding()) {<span class="fas fa-spin fa-spinner"></span>}
   </button>
   @if (msgErrorCode) {<p class="text-danger p-1 m-0"> {{msgErrorCode}} </p>}
  
    </form>
  }@else if (step() ==3) {
    <form class="text-capitalize bg-main-light shadow p-2 my-5 rounded-4 w-50 mx-auto" [formGroup]="reset"(ngSubmit)="setVerifyPassword()">
  
      <div class="form-floating mb-3">
        <input readonly formControlName="email"  type="email" class="form-control shadow-none border-0 " id="email" placeholder="name@example.com">
        <label for="email">email</label>
      </div>

      <div class="form-floating mb-3">
        <input
        [ngClass]="{
          'is-valid':!reset.get('newPassword')?.errors && (reset.get('newPassword')?.touched || reset.get('password')?.dirty),
          'is-invalid':reset.get('newPassword')?.errors && (reset.get('newPassword')?.touched || reset.get('password')?.dirty)
         }"   
         formControlName="newPassword"  type="password" class="form-control shadow-none border-0 " id="newPassword" placeholder="name@example.com">
        <label for="newPassword">password</label>
  
        @if (reset.get('newPassword')?.errors && (reset.get('newPassword')?.touched || reset.get('password')?.dirty)) 
        {
          <div class="text-danger mt-1 w-50 p-0">
  
            @if (reset.get('newPassword')?.getError('required')) {<p class="m-0">password is required</p>}
  
            @if (reset.get('newPassword')?.getError('pattern')) {<p class="m-0">enter valid password</p>}
            
          </div>
        }
  
      </div>
      <button [disabled]="!reset.valid" class="btn-main ms-auto d-block">Verify password 
        @if (isLoding()) {<span class="fas fa-spin fa-spinner"></span>}
   </button>
   @if (msgErrorReset) {<p class="text-danger p-1 m-0"> {{msgErrorReset}} </p>}
  
    </form>
  }
  
  
  
  </section>
  
