<section class="bg-main-light my-5 rounded-4 w-50 mx-auto p-3">
    <h1 class="h3 text-main"> {{"order.shipping"|translate}} </h1>
    <form [formGroup]="order" (ngSubmit)="orderSubmit()" class="gap-4">
        <div>
            <label for="details"> {{"order.details"|translate}} </label>
            <textarea formControlName="details" id="details" class="form-control"></textarea>
        </div>
        <div>
            <label for="city"> {{"order.city"|translate}} </label>
            <input formControlName="city" id="city" type="text" class="form-control">
        </div>
        <div>
            <label for="phone"> {{"order.phone"|translate}} </label>
            <input formControlName="phone" id="phone" type="tel" class="form-control">
        </div>
        <div class="d-flex justify-content-between align-items-center">

            <button type="submit" class="btn-main p-1 mt-2"> {{"order.Check Out visa"|translate}} </button>
            <button  (click)="cashOrderUser()" type="button" class="btn-main p-1 mt-2"> {{"order.Cash Order"|translate}} </button>
        </div>


    </form>
</section>
